body{
  background:url("https://images.unsplash.com/photo-1460355976672-71c3f0a4bdac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size:cover;
  background-position: top right;

}
.box{
  width:400px;
  height:50px;
  text-align:center;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.box a{
  font-size:24px;margin-right:20px
}
#form{
  width: 400px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#form input{
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 20px;
  outline: none;
  color: #262626;
  margin-bottom: 10px;
  text-align: center;
}
#form button{
  width: 100%;
  padding: 10px 15px;
  font-size: 20px;
  background: mediumslateblue;
  color: #262626;
  border: none;
  font-weight: bold;
}
#form a{
  display: block;
  text-align: center;
  font-size: 16px;
  color: #ccc;
  text-decoration: none;
  position: relative;
  margin-top: 12px;
  opacity: .75;
  
}
#form label{
  display: inline-block;
  color: rgba(255,255,255,.5);
}
#form label input{
  border-radius: 5px;
  width: 20px;
  }
